body{
	
	background: -webkit-linear-gradient(-8deg, rgb(255,255,255), rgb(169,169,169));
    text-align: center;

}
/*背景顏色設為漸層*/
/*文字置中*/

.class1{
		
	border-radius:50%;
	max-width:100%;
	height:auto;
	
}
/*圖片外邊為弧形*/

.class2:hover{
	
	background-color:gray;
	font-size:1cm;
	
}
/*鼠標移動到上面有效果*/

li::first-letter{
		color:gray;
		font-size:200%;
	
}
/*第一個字有特效*/
img:hover{
	
		width:150px;
		height:150px;
		opacity:0.5;
	
}
/*鼠標移動到圖片上有效果*/